<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <body>


<!-- <h3>Please click on the below button open popup</h3>
<hr /> -->

<div>
  <form *ngIf="flag==0" [formGroup]="ObjForm" (ngSubmit)="openPopup()">

    <div>
      <input type="email" class="email" placeholder="Enter ur Email" formControlName="sentto" name="sentto"><br>
      <div class="cl" *ngIf="ObjForm.controls['sentto'].errors?.['required'] && (ObjForm.controls['sentto'].touched ||ObjForm.controls['sentto'].dirty) " >*Required</div>

      <input type="submit" name="openPopup" class="btn btn-primary">
      <!-- <button type="button"   class="btn btn-primary" >
      Send OTP
    </button> -->
    </div>
  </form>
</div>
</body>
</html>


<div   class="modal"   tabindex="-1"   role="dialog"   [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Forget Password</h4>
              </div>
            <div class="modal-body">
            <form [formGroup]="ObjForgetForm" (ngSubmit)="SaveData()">
          <div class="form-group">
            
            <label for="Otp">Enter Your OTP</label>
            <input type="text" formControlName="otp" class="form-control" id="Otp" aria-describedby="emailHelp"
              placeholder="Enter Otp">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control" id="exampleInputPassword1"
              placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" formControlName="cnewPassword" class="form-control" id="exampleInputPassword1"
              placeholder="Password">
          </div>
                

          <div class="modal-footer">

            <!--         <button type="button" class="btn btn-primary"                   (click)="SaveData()">
            Save
                    </button> -->

            <div class="modal-footer">
                 <input type="submit" name="SaveData" class="btn btn-primary">

                 <button type="button" class="btn btn-danger"                   (click)="closePopup()">
                          Close
                        </button>
            </div>
                
          </div>
     
        </form> 
      </div>
    </div>



