<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>EDIT BOOK</h1>
    <form [formGroup]="editbook" (ngSubmit)="onSubmit()">
        Book Name <input type="text" formControlName="bookName" >
        <br>
        Book Author <input type="text" formControlName="bookAuthor">
        <br>

        Category<select class="dropbtn" type="input" formControlName="categoryId"   >
            <option value="" disabled selected>Select your Category</option>
            <option  *ngFor="let category of loaddata" [value]="category.categoryId">
            {{category.categoryName}}
           </option>
           </select>
           <br>
        Stock <input type="text" formControlName="stock" >
        <br>
        <td><input type="file" (change)="selectFile($event)"></td>
        <button type="submit">Update</button>
    </form>
    
</body>
</html>