<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>

    <div>
        <table>     
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>BookName</th>
                <th>RentDate</th>
                <th>ReturnDate</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let rent of rentDetails">
                <td>{{rent.rentId}}</td>
                <td>{{rent.user.name}}</td>
                <td>{{rent.book.bookName}}</td>
                <td>{{rent.rentDate}}</td>
                <td>{{rent.returnDate}}</td>
                <td>{{rent.status}}</td>
                <button type="submit" [disabled]="rent.status=='ACCEPTED'" (click)="returnVerify(rent)">Confirm</button>
            </tr>
        </table>
    </div>
    
</body>
</html>