<app-navbar-admin></app-navbar-admin>

<body class="col-md-12">
  <div class="divm">
  <h1>ADMIN HOME</h1>
</div   >
  <!-- <img src="https://cdn.shopify.com/s/files/1/0984/3604/products/backdrop-blurred-books-library-room-1_1340x.jpg?v=1612742970">  -->

  <div class="chart-container col-md-12 mb-5" style="position: relative; height:30vh; width:70vw; margin-left: 30px; ">
    <h2>CATEGORY WISE CHART</h2>
    <canvas id="MyChart">{{mychart}}</canvas>

  </div>
  <div class="chart-container col-md-12" style="position: relative; height:40vh; width:80vw; margin-left: 30px;">
    <h2>RENT AND RETURN CHART</h2>
    <canvas id="bar">{{bar}}</canvas>

  </div>
</body>

<!-- <div class="aa"></div>
<div >
    <h1>ADMIN HOME</h1>
    
</div> -->
<!-- <button (click)="createChart()" > CHART VIEW</button> -->
<!-- <div style="margin-top:-10%; margin-bottom: 10%; margin-left:-10%;"  class="chart">
    <div class="chart-container" style="position: relative; margin-top: 15%;  margin-left: 20%; height:40vh; width: 60vw">
    <canvas   id="MyChart" >{{mychart}}</canvas>
  
  </div>
  </div> -->