<meta name="viewport" content="width=device-width, initial-scale=1" />
<div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-md-12 txt_cen" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link nav_clr" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_clr" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_clr" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_clr" href="#">Team</a>
        </li>
        <li class="nav-item" style="margin-right: 50px;">
          <a class="nav-link nav_clr" href="#">Industries</a>
        </li>
        <li class="nav-item nav-link contact_btn" style="padding-top: 2px;">
          <button class=" nav_btn">contact us</button>
        </li>
      </ul>
    </div>
  </nav>

  <div id="carouselExampleIndicators" class="carousel slide carousel-boot" data-ride="carousel"
    style="overflow-x: hidden;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
          <div class="heading_cor">
            <h1 class="mr-1" style="color:black;font-weight: 600;">BULIDING </h1>
            <h1>BETTER TEAMS</h1>
          </div>
          <h4 style="font-size: 14px ; color: black;font-weight: 600;">EXECUTIVE SEARCH AND RETAINED SEARCH</h4>
          <button class="cors_btn">aaa</button>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <div class="heading_cor">
            <h1 class="mr-1" style="color:black;font-weight: 600;">BULIDING </h1>
            <h1>BETTER TEAMS</h1>
          </div>
          <h4 style="font-size: 14px ; color: black;font-weight: 600;">EXECUTIVE SEARCH AND RETAINED SEARCH</h4>
          <button class="cors_btn">aaa</button>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <div class="heading_cor">
            <h1 class="mr-1" style="color:black;font-weight: 600;">BULIDING </h1>
            <h1>BETTER TEAMS</h1>
          </div>
          <h4 style="font-size: 14px ; color: black;font-weight: 600;">EXECUTIVE SEARCH AND RETAINED SEARCH</h4>
          <button class="cors_btn">aaa</button>
        </div>
      </div>

      <a class="carousel-control-prev carousel-control-prev_top" href="#carouselExampleIndicators" role="button"
        data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next carousel-control-next_top" href="#carouselExampleIndicators" role="button"
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="div_2">
    <div class="heading_cor1">
      <h1 class="mr-1" style="font-weight: 600;">OUR</h1>
      <h1 style="font-weight: 600; color: #0ea8af;">SERVICES</h1>
    </div>
  </div>

  <div class="mt-4 div_oruser" >
    <div class="col-md-12 div_oruser_in" >
      <div class="card clr_card mr-2" style="width: 14rem;">
        <div class="card-body text-center">
          <span class="material-symbols-outlined icon_hve" style="font-size: 50px;">
            lock
          </span>
          <h5 class="card-title text_color">Card title11</h5>
          <p class="card-text text_color_1">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>

      <div class="card clr_card  mr-2" style="width: 14rem;">
        <div class="card-body text-center">
          <span class="material-symbols-outlined icon_hve" style="font-size: 50px;">
            description
          </span>
          <h5 class="card-title text_color">Card title</h5>
          <p class="card-text text_color_1">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>

      <div class="card clr_card  mr-2" style="width: 14rem;">
        <div class="card-body text-center">
          <span class="material-symbols-outlined" style="font-size: 50px;">
            lock
          </span>
          <h5 class="card-title text_color">Card title</h5>
          <p class="card-text text_color_1">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-2 div_oruser_in ">
      <div class="card clr_card mr-2" style="width: 14rem;">
        <div class="card-body text-center">
          <span class="material-symbols-outlined" style="font-size: 50px;">
            lock
          </span>
          <h5 class="card-title text_color">Card title</h5>
          <p class="card-text text_color_1">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>

      <div class="card clr_card  mr-2" style="width: 14rem;">
        <div class="card-body text-center">
          <span class="material-symbols-outlined" style="font-size: 50px;">
            account_circle
          </span>
          <h5 class="card-title text_color">Card title</h5>
          <p class="card-text text_color_1">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>

      <div class="card clr_card mr-2" style="width: 14rem;">
        <div class="card-body text-center">
          <span class="material-symbols-outlined" style="font-size: 50px;">
            lock
          </span>
          <h5 class="card-title text_color">Card title</h5>
          <p class="card-text text_color_1">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card " style="background-color: #0ea8af; margin-top:100px;">

    <div class="in_div_builbet" >
      <div class="in_div_inn_builbet" >
        <div class="heading_cor2">
          <h1 class="mr-1 div_3_heading">BULDING BETTER</h1>
          <h1 class="div_3_1_heading" >TEAMS</h1>
        </div>
        <p class="p_clr" style="padding-top: 15px;">If you ask enough top executives about their leadership style,
          you’re likely to
          hear a number of them say,
          “I hire the best people and get out of their way.” It’s a good line that makes sense at a certain level.
          Hiring the right people is the most important part of building a strong team, of course, and delegating to
          give people more autonomy is a powerful motivator.
        </p>
        <button class="bnt_read"> Read more ></button>
      </div>




      <div style="width: 350px; margin-left: 155px;">
        <div class="heading_cor2">
          <h1 class="mr-1 div_3_heading" style="font-weight: 600;">INDUSTRY</h1>
          <h1 class="div_3_1_heading">SERVE</h1>
        </div>
        <p class="p_clr" style="padding-top: 15px;"><span class="material-symbols-outlined "
            style="font-size: 15px; color: white;">
            select_check_box
          </span> Agribussiness
        </p>
        <p class="p_clr"><span class="material-symbols-outlined " style="font-size: 15px; color: white;">
            select_check_box
          </span> Agribussiness
        </p>
        <p class="p_clr"><span class="material-symbols-outlined " style="font-size: 15px; color: white;">
            select_check_box
          </span> Agribussiness
        </p>
        <p class="p_clr"><span class="material-symbols-outlined " style="font-size: 15px; color: white;">
            select_check_box
          </span> Agribussiness
        </p>
        <p class="p_clr"><span class="material-symbols-outlined " style="font-size: 15px; color: white;">
            select_check_box
          </span> Agribussiness
        </p>

        <button class="bnt_read"> Read more ></button>
      </div>

    </div>

  </div>


  <div class="div_2 ,mt-4">
    <div class="heading_cor3">
      <h1 class="mr-1" style="font-weight: 600;">OUR</h1>
      <h1 style="color: #0ea8af;font-weight: 600;">PARTNERS</h1>
    </div>

  </div>

  <div class="div_our_ser" >
    <div class="card_cli">
      <img class="card-img-top img_card " src="assets/Volkswagen-logo-2019-1500x1500.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" style="font-size: 10px;">Some quick example text to build on the card title and make up the
          bulk of the card's
          content.</p>
        <button class="bnt_view"><span style="font-size: 12px;"> View website ></span></button>
        <div>
          <svg class="icn ml-3 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
          </svg>
          <svg class="icn ml-2 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="card_cli ml-2">
      <img class="card-img-top img_card " src="assets/Volkswagen-logo-2019-1500x1500.png" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text" style="font-size: 10px;">Some quick example text to build on the card title and make up the
          bulk of the card's
          content.</p>
        <button class="bnt_view"><span style="font-size: 12px;"> View website ></span></button>
        <div>
          <svg class="icn ml-3 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
          </svg>
          <svg class="icn ml-2 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="card_cli ml-2">
      <img class="card-img-top img_card " src="assets/Volkswagen-logo-2019-1500x1500.png" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text" style="font-size: 10px;">Some quick example text to build on the card title and make up the
          bulk of the card's
          content.</p>
        <button class="bnt_view"><span style="font-size: 12px;"> View website ></span></button>
        <div>
          <svg class="icn ml-3 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
          </svg>
          <svg class="icn ml-2 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="card_cli ml-2">
      <img class="card-img-top img_card " src="assets/Volkswagen-logo-2019-1500x1500.png" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text" style="font-size: 10px;">Some quick example text to build on the card title and make up the
          bulk of the card's
          content.</p>
        <button class="bnt_view"><span style="font-size: 12px;"> View website ></span></button>
        <div>
          <svg class="icn ml-3 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
          </svg>
          <svg class="icn ml-2 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="card_cli ml-2">
      <img class="card-img-top img_card " src="assets/Volkswagen-logo-2019-1500x1500.png" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text" style="font-size: 10px;">Some quick example text to build on the card title and make up the
          bulk of the card's
          content.</p>
        <button class="bnt_view"><span style="font-size: 12px;"> View website ></span></button>
        <div>
          <svg class="icn ml-3 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
          </svg>
          <svg class="icn ml-2 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="card_cli ml-2">
      <img class="card-img-top img_card " src="assets/Volkswagen-logo-2019-1500x1500.png" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text" style="font-size: 10px;">Some quick example text to build on the card title and make up the
          bulk of the card's
          content.</p>
        <button class="bnt_view"><span style="font-size: 12px;"> View website ></span></button>
        <div>
          <svg class="icn ml-3 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
          </svg>
          <svg class="icn ml-2 mt-1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="clint_btn ">VIEW ALL</button>
  </div>
  <section>
    <div class="div_news">
      <div class="div_2 mt-4 mb-3">
        <div class="heading_cor4">
          <h1 class="mr-1" style="font-weight: 600; color: #ffffff;">LATEST</h1>
          <h1 style="color: #ffffff;font-weight: 600;">NEWS</h1>
        </div>
      </div>

      <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
          <div class="carousel_outer_div">
            <div class="card " style="width: 18rem;margin-right: 20px;">
              <div class="card-body">
                <h5 class="card-title">AAAA</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>

            <div class="card" style="width: 18rem;margin-right: 20px;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>
          </div>

        </ng-template>

        <ng-template ngbSlide>
          <div class="carousel_outer_div">
            <div class="card" style="width: 18rem;margin-right: 20px;">
              <div class="card-body">
                <h5 class="card-title">AAAA</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>

            <div class="card" style="width: 18rem;margin-right: 20px;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>
          </div>

        </ng-template>

      </ngb-carousel>

    </div>
  </section>


  <div class="div_2 ,mt-4 mb-3">
    <div class="heading_cor3">
      <h1 class="mr-1" style="font-weight: 600;">OUR</h1>
      <h1 style="color: #0ea8af;font-weight: 600;">TEAM</h1>
    </div>
  </div>

  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="col-md-12 caption_outer">
        <div class="col-md-6 picsum-img-wrapper image_wrapper">
          <img [src]="images[0]" alt="Random first slide" class="image_" />
        </div>
        <div class="caption_wrapper col-md-6">
          <h2>NAME</h2>
          <h3 style="color: #e5e5e6;">POST</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <button class="btn_lern">Learn more</button>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="caption_outer col-md-12 ">
        <div class="col-md-6 picsum-img-wrapper image_wrapper">
          <img [src]="images[0]" alt="Random first slide" class="image_" />
        </div>
        <div class="caption_wrapper col-md-6">
          <h2>NAME</h2>
          <h3 style="color: #e5e5e6;">POST</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <button class="btn_lern">Learn more</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item" style="display: inline-flex;">
            <h4 class="ml-5">Home</h4>
            <h4 class="ml-5">Services</h4>
            <h4 class="ml-5">About Us</h4>
            <h4 class="ml-5">Industries </h4>



            <ul>
              <li><a href="#">Web design</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">Hosting</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>Company Name</h3>
            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus
              elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
          </div>

          
        </div>
        <div>
          <p class="copyright">Company Name © 2018</p>
        </div>
      </div>
    </footer>
  </div> -->




  <div class="foot p-2">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

      <div class="collapse navbar-collapse col-md-12 txt_cen" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">
            <a class="nav-link nav_clr" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_clr" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_clr" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_clr" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_clr" href="#">Industries</a>
          </li>
          <!-- <li class="nav-item nav-link contact_btn" style="padding-top: 2px;">
          <button class=" nav_btn">contact us</button>
        </li> -->
        </ul>
      </div>
    </nav>
    <hr>

    <div class="foot_cnt col-md-12">
      <div style="display: inline-flex;" class="col-md-4">
        <span style="padding-top: 5px; color: #ffffff;" class="material-symbols-outlined">
          location_on
        </span>
        <div style="padding-left: 5px; color: #ffffff;"> Akshya Nagar 1st Block 1st Cross,<br> Rammurthy nagar,
          Bangalore-560016
        </div>
      </div>
      <div style=" display: inline-flex; padding-top: 4px;" class="col-md-4">
        <span style="color: #ffffff;" class="material-symbols-outlined">
          mail
        </span>
        <div style="padding-left: 5px; color: #ffffff;">testing@email.com</div>
      </div>
      <div style=" display: inline-flex; padding-top: 4px;" class="col-md-4">
        <span style="color: #ffffff;" class="material-symbols-outlined">
          phone_in_talk
        </span>
        <div style="padding-left: 5px;color: #ffffff;">999.666.22.55</div>
      </div>
    </div>
    <hr>


    <div class="col-md-12 foot_cnt">
      <div class="col-md-4">
        <span class="copyright">Terms and Conditions | Privacy policy</span>
      </div>
      <div class="col-md-4">
        <span class="copyright">Company Name © 2018</span>
      </div>
      <div class="scl_icon col-md-4">
        <div class="fb mr-1">
          <i class="fa fb_icn">&#xf09a;</i>
        </div>
        <div class="fb mr-1">
          <i class="fa link_icn">&#xf08c;</i>
        </div>
        <div class="fb mr-1">
          <i class="fa link_icn">&#xf099;</i>
        </div>
        <div class="fb">
          <i class="fa g_icn">&#xf0d5;</i>
        </div>
      </div>
    </div>
  </div>

</div>