ngb-carousel {
    /* max-width: 700px; */
    height: 300px !important ; 
    /* margin: 50px auto; */
    background-color: #0ea2a7;
}

ngb-carousel img {
    width: 100%;
    outline: none;
}
ngb-carousel {
    width: inherit;
    height: inherit;
}
.carousel-inner {
    overflow: visible;
}
.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}
.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}
.carousel-indicators{
    z-index: 20;
}

.navbar{
    background-color: #0ea2a7 !important;
}
.nav_clr{
    color: white !important;
}
.txt_cen{
   padding-left: 40%;
}
.cors_btn{
    background-color: #ffffff !important;
    border-radius: 5% !important;
    border: none;
    height: 30px;
    width: 100px;

}

.nav_btn{
    background-color: #ffffff !important;
    border-radius: 5% !important;
    border: none;
    height: 30px;
    width: 100px;

}
.contact_btn{
    margin-left: 100px;
}