<app-navbar-admin></app-navbar-admin>
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>ADD BOOK</h1>

    <form [formGroup]="bookreg"      >

    <input type="text" formControlName="bookName" placeholder="Enter the name">
    <div style="color: red;" *ngIf="bookreg.controls['bookName'].errors?.['required'] && (bookreg.controls['bookName'].touched ||bookreg.controls['bookName'].dirty)" >Required</div>
    <br>

 
    <!-- <label for="categoryId">Select Category </label> -->
           <select class="dropbtn" type="input" formControlName="categoryId"  name="select" placeholder="Select Category"  >
            <option value="" disabled selected>Select your Category</option>
            <option  *ngFor="let category of loaddata" value={{category.categoryId}}>
            {{category.categoryName}}
           </option>
           </select>
           <br>

    <input type="text" formControlName="bookAuthor" placeholder="Enter the Author name">
    <div  style="color: red;" *ngIf="bookreg.controls['bookAuthor'].errors?.['required'] && (bookreg.controls['bookAuthor'].touched ||bookreg.controls['bookAuthor'].dirty)" >Required</div>

    <br>

    <input type="number" formControlName="stock" placeholder="Enter the stock">
    <div style="color: red;" *ngIf="bookreg.controls['stock'].errors?.['required'] && (bookreg.controls['stock'].touched ||bookreg.controls['stock'].dirty)" >Required</div>

    <br>

    <tbody>
        <tr>
            <td><input type="file" (change)="selectFile($event)"></td>
       
            <!-- <td>
                
                <button [disabled]="!selectedFiles" (click)="upload() ">Upload </button>
        </td>  -->
            
            
        </tr>
    </tbody>

    <button type="submit" (click)="onSubmit()" >Add</button>
</form>
</body>
</html>