<app-navbar-admin></app-navbar-admin>
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>ADD BOOK</h1>

    <form [formGroup]="bookreg" (ngSubmit)="onSubmit()" >

    <input type="text" formControlName="bookName" placeholder="Enter the name">
    <div style="color: red;" *ngIf="bookreg.controls['bookName'].errors?.['required'] && (bookreg.controls['bookName'].touched ||bookreg.controls['bookName'].dirty)" >Required</div>
    <br>

    <input type="text" formControlName="bookAuthor" placeholder="Enter the Author name">
    <div  style="color: red;" *ngIf="bookreg.controls['bookAuthor'].errors?.['required'] && (bookreg.controls['bookAuthor'].touched ||bookreg.controls['bookAuthor'].dirty)" >Required</div>

    <br>

    <input type="number" formControlName="stock" placeholder="Enter the stock">
    <div style="color: red;" *ngIf="bookreg.controls['stock'].errors?.['required'] && (bookreg.controls['stock'].touched ||bookreg.controls['stock'].dirty)" >Required</div>

    <br>

    <button type="submit">Add</button>
</form>
</body>
</html>