.outer_div {
    width: 200px;
    height: 280px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 6px;
    display: inline-flex;
    padding-top: 20px;
    padding-left: 8px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.outer_div1 {
    width: 200px;
    height: 280px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 6px;
    padding: 10px;
}

.outer_div2 {
    width: 200px;
    height: 280px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 6px;
    padding: 10px;
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn {
    width: 60px;
    /* background-color: rgb(121, 179, 218); */
    border: none;
    padding: 2px;
    /* height: 25px; */
    padding-top: 1px;
    margin-top: 2px;
}

@media only screen and (min-width:770px)and (max-width: 1250px) {
    .list_div {
        /* background-color: blue !important; */
        margin-left: 80px;
    }

    
  
}

@media only screen and (min-width:100PX)and (max-width: 800px) {
    .list_div {
       
       /* padding: 0px 0px 10px 10px; */
        background-color: rgb(252, 112, 18) !important;
       margin-left: 20px;

    }
    /* .outer_div1{
        
        visibility: hidden;
    }
    .outer_div2{
        
        visibility: hidden;
    } */



    
  
}