<p>viewpg-test works!</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <!-- <h5 class="card-title">Grades<span class="text-muted fw-normal ms-2"></span>({{grade.length}})</h5> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                <div>
                    <!-- <ul class="nav nav-pills"> -->
                        <!-- <li class="nav-item">
                            <a
                                aria-current="page"
                                href="#"
                                class="router-link-active router-link-exact-active nav-link active"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title=""
                                data-bs-original-title="List"
                                aria-label="List"
                            >
                                <i class="bx bx-list-ul"></i>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item"> -->
                            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" -->
                            <!-- data-bs-target="#exampleModal"><i class="bx bx-plus me-1"></i>Add Grade</button> </li> -->
                    <!-- </ul> -->
                </div>
                <!-- <div>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                </div> -->
                <!-- <div class="dropdown"> -->
                    <!-- <span (click)="setOrder()" class="material-symbols-outlined">
                        swap_vert
                        </span>
                    <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-horizontal-rounded"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" (click)="paginate(5,i,'gradeId',order)" href="">Sort by Grade Id</button></li>
                        <li><button class="dropdown-item"  (click)="paginate(5,i,'standard',order)">Sort by Standard</button></li>
                        <li><button class="dropdown-item"  (click)="paginate(5,i,'division',order)">Sort by Division</button></li>
                    </ul> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="ps-4" style="width: 50px;">
                                    <div class="form-check font-size-16"><input type="checkbox" class="form-check-input" id="contacusercheck" /><label class="form-check-label" for="contacusercheck"></label></div>
                                </th>
                                <th scope="col">Book Id</th>
                                <th scope="col">Book Name</th>
                                <th scope="col">Stock</th>
                                <!-- <th scope="col" style="width: 200px;">Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of result;let i=index">
                                <th scope="row" class="ps-4">
                                    <div class="form-check font-size-16"><input type="checkbox" class="form-check-input" id="contacusercheck1" /><label class="form-check-label" for="contacusercheck1"></label></div>
                                </th>
                                <td><a href="#" class="text-body">{{book.bookId}}</a></td>
                                <td><span class="badge badge-soft-primary mb-0">{{book.bookName}}</span></td>
                                <td>{{book.stock}}</td>
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <!-- <button type="button"(click)="deleteGrade(grades.gradeId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></button> -->
                                        </li>
                                        <li class="list-inline-item dropdown">
                                            <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-vertical-rounded"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <!-- <a class="dropdown-item" href="exam-list-admin?gradeId={{grades.gradeId}}">View Exams</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a> -->
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <!-- <div><p class="mb-sm-0">Showing 1 to {{paginated.index}} of {{grade.length}} entries</p></div> -->
        </div>
        <div class="col-sm-6">
            <div class="float-sm-end">
                <ul class="pagination mb-sm-0">
                    <li class="page-item disabled">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    <div *ngFor="let book of bookDetail;let i=index;">
                       
                    <li *ngIf="i%5==0;" class="page-item active"><button (click)="paginate(i/5,5,sortBy)" class="page-link">{{i/5+1}}</button></li>
                    <!-- <li class="page-item"><button (click)="paginate(5,1)"class="page-link">2</button></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                    </li> -->
                </div>
                </ul>
                
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="addForm" (ngSubmit)="addGrade(addForm)">
    <div class="modal-dialog">
      <div  class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
  
            <div class="addname">
              <label for="name" class="form-label">Standard</label>
              <input type="text" formControlName="standard" class="form-control" id="name"
                aria-describedby="emailHelp">
            </div>
            <div class="addname">
                <label for="name" class="form-label">Division</label>
                <input type="text" formControlName="division" class="form-control" id="name"
                  aria-describedby="emailHelp">
              </div>
         
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit"  class="btn btn-primary" 
            data-bs-dismiss="modal">Add</button>
         
        </div>
      </div>
    </div>
</form>
  </div>
   -->
